.dropdown2 {
  position: relative;
  color: black;
  width: 12rem;
  margin-top: 1rem;
  margin-left: 1rem;
  filter: url(#goo);
  height: auto;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
.dropdown2__face,
.dropdown2__items {
  background-color: #fff;
  padding: 5px;
  border-radius: 25px;
}
.dropdown2__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.dropdown2__face {
  display: block;
  position: relative;
}
.dropdown2__items {
  margin: 0;
  position: absolute;
  right: 0;
  left: -3.2rem;
  width: 150%;
  padding: 1rem;
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
.dropdown2__items::before {
  content: "";
  background-color: #fff;
  right: 20%;
  height: auto;
}
.dropdown2__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown2 input {
  display: none;
}
.dropdown2 input:checked ~ .dropdown2__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}

svg {
  display: none;
}

/* ACORDEON DE DETAILS CON DISTINTA CLASE */
.dropdown3 {
  position: relative;
  color: black;
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  filter: url(#goo);
  height: auto;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
.dropdown3__face,
.dropdown3__items {
  background-color: #fff;
  padding: 5px;
  border-radius: 25px;
}
.dropdown3__text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.dropdown3__face {
  display: block;
  position: relative;
}
.dropdown3__items {
  margin: 0;
  position: absolute;
  right: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
.dropdown3__items::before {
  content: "";
  background-color: #fff;
  right: 20%;
  height: auto;
}
.dropdown3__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown3 input {
  display: none;
}
.dropdown3 input:checked ~ .dropdown3__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}

svg {
  display: none;
}
.TitleDetails {
  padding: 0.2rem;
  text-align: center;
  color: gray;
}
