.InputCheckBox {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 2rem;
}
@media (max-width: 890px) {
  .InputCheckBox {
    margin-right: 0rem;
    display: flex;
    align-items: center;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.noencontrado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  width: 50vh;
  height: 50vw;
}
.imgErroProduct {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
}
